{% extends "_layout.html" %}

{% block content %}
<div class="glossary">
    <h1>Список терминов</h1>
    <div class="term">
        <h2>Демоны (鬼 Oni)</h2>
        <p>Существа, которые убивают и едят людей. Самым первым демоном является Мудзан Кибуцуджи, чья кровь способствует появлению новых демонов.</p>
    </div>
    <div class="term">
        <h2>Истребители демонов (鬼き殺さつ隊たい Kisatsutai)</h2>
        <p>Это организация, существующая с древних времен и посвятившая свое существование защите человечества от демонов.</p>
    </div>
    <div class="term">
        <h2>Мудзан Кибуцуджи (鬼き舞ぶ辻つじ無む惨ざん Kibutsuji Muzan)</h2>
        <p>Первый в своем роде демон, прародитель остальных демонов.</p>
    </div>
    <div class="term">
        <h2>Столпы (柱 (はしら) Hashira)</h2>
        <p>Также известные как Хашира — сильнейшие мечники с наивысшим рангом в организации истребителей демонов, которые являются их элитными воинами.</p>
    </div>
    <div class="term">
        <h2>Информацию и несколько идей я брал с <a href="https://kimetsu-no-yaiba.fandom.com/ru/wiki/">этого сайта</a></h2>
        <p>Спасибо им!</p>
    </div>
</div>
{% endblock %}