{% extends "_layout.html" %}

{% block content %}
   <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-main">
                    <div class="index-main-roof-text">
                        ___Добро пожаловать на «Клинок, рассекающий демонов» вики!___
                    </div>
                    <div class="index-main-body-text">
                        <p>Данный сайт создан для ознакомления с персонажами <a href="/glossary#Manga">манги</a> (<a href="/glossary#Anime">аниме</a>) <strong>«Клинок, рассекающий демонов»</strong></p>
                        <p><strong>«Клинок, рассекающий демонов»</strong> — одно из самых популярных аниме современности, основанное на одноимённой манге. Его название часто переводят как <strong>«Истребитель демонов»</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for ch in hero %}
            <div class="col">
                <div class="photo_hero_link">
                    <a class="photo_hero" href="{{ch.URL}}">
                        <img class="phot" src="static\images\{{ch.title}}.jpg" alt="{{ch.title}}">
                    </a>
                    <a class="name_page nav-link" aria-current="page" href="{{ch.URL}}">{{ch.title}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}