{% extends "_layout.html" %}

{% block content %}
   <div class="container">
        <div class="hero-roof">Герои аниме: "Клинок рассекающий демонов"</div>
        <div class="row">
            {% for ch in hero %}
            <div class="col">
                <div class="photo_hero_link">
                    <a class="photo_hero" href="{{ch.URL}}">
                        <img class="phot" src="static\images\{{ch.title}}.jpg" alt="{{ch.title}}">
                    </a>
                    <a class="name_page nav-link" aria-current="page" href="{{ch.URL}}">{{ch.title}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}