{% extends "_layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="quote-container">
                <div class="quote-row">
                    <div class="quote-mark left">“</div>
                    <div class="quote-text">
                        <p>Люди должны быть защищены и спасены...Я никогда не причиню им вреда.</p>
                    </div>
                    <div class="quote-mark right">”</div>
                </div>
                <div class="quote-citation">
                    — Незуко Камадо, Эпизод 23.
                </div>
            </div>
            <div class="hero-info" id="infoNezuko">
                <h2>
                    Незуко Камадо 
                    <span class="kanji">(竈門かまど禰ね豆ず子こ Kamado Nezuko)</span>
                </h2>
                    младшая сестра <a href="/tanjiro" class="highlight">Танджиро</a>. Она была превращена в демона <a href="/glossary#Mudzan" class="highlight">Мудзаном Кибуцуджи</a>.
                </p>
            </div>
            <div class="accordion" id="accordionNezuko">
                <!-- Внешность -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Внешность
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionNezuko">
                        <div class="accordion-body">
                            <p>У Незуко длинные чёрные волосы, которые, будучи человеком, она завязывала в пучок. Сейчас её волосы остаются распущенными, их концы окрасились в оранжевый, а глаза Незуко из бордовых приобрели ярко-розовый оттенок. Во рту Незуко носила бамбуковую палочку.</p>
                            <p>Она носит в розовое кимоно с узором асаноха, красно-белый клетчатый оби и чёрное хаори. Будучи демоном, она могла изменять размер своего тела.</p>
                        </div>
                    </div>
                </div>
                <!-- Личность -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Личность
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionNezuko">
                        <div class="accordion-body">
                            <p>Будучи еще человеком, Незуко была очень доброй, заботливой старшей сестрой, которая прежде всего думала о других.</p>
                            <p>Однако, как Демон, Незуко, похоже, забыла значительную часть своих воспоминаний о человеке, помимо тех, что связаны с её семьёй. Она по-прежнему очень заботится и защищает людей, которых считает членами своей семьи, хотя это, в основном, связано с влиянием, которое Саконджи Урокодаки оказал на неё, когда та спала два года. Незуко также сохраняет некоторые из своих человеческих эмоций, поскольку она плачет, когда грустит, и улыбается, когда счастлива, но в целом она выглядит лишенной эмоции по сравнению с человеком. Она всё ещё гораздо спокойнее и менее зла, чем большинство демонов.</p>
                            <p>С тех пор как она стала демоном, Незуко, похоже, не боится сражаться: она яростно поддерживает своего брата и союзников в бою. У неё также появилась сильная сила воли, которая проявляется в её отказе потреблять человеческие плоть и кровь, даже в случаях крайней травмы или воздействия человеческой крови, что можно увидеть, когда она отказывается от крови Санеми Шинадзугавы после того, как он пытается заманить её употреблять его кровь Маречи. Её невероятная сила воли сохраняется даже тогда, когда она больше не является демоном, так как когда девушка охотно прыгала перед Иноске, чтобы защитить его от своего собственного брата, который стал демоном и пытался убить окружающих его людей. Незуко не колебалась, что демон может съесть её.</p>
                            <p>В редких случаях, когда Незуко пытается выступить с речью, она часто заикается, что может быть связано с её бамбуковым мундштуком и тем фактом, что юная особа не говорила в течение двух лет после своего превращения в демона. Однако после развития сопротивления солнечному свету, который позволяет ей выходить на улицу и чаще общаться с другими, её речь показала признаки улучшения, и теперь она способна полностью произносить слова.</p>
                        </div>
                    </div>
                </div>
                <!-- История -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            История
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionNezuko">
                        <div class="accordion-body">
                            <p>Незуко выросла в горах вместе со своим старшим братом Танджиро, остальными братьями и сестрами и матерью, как старшая дочь семьи Камадо. Она заботилась о своих младших братьях и сестрах в качестве помощницы своей матери. В отличие от Танджиро, отвечавшего за продажу дров в городе, Незуко обычно помогала по хозяйству.</p>
                            <p>Семья была довольно бедной, и в результате Незуко иногда приходилось обходиться без новой одежды, чтобы у остальных её братьев и сестер было достаточно еды. Она не рассматривала это как бремя, а вместо этого просто довольствовалась тем, что помогала своей семье.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="photo-body">
                <a class="photo_nezuko">
                    <img class="phot" src="static\images\nez1.jpg" alt="nezuko">
                </a>
                <button type="button" class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#characteristicsModal">
                    Показать характеристики
                </button>
            </div>
            <div class="modal fade" id="characteristicsModal" tabindex="-1" aria-labelledby="characteristicsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="characteristicsModalLabel">Характеристики</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li><strong>Пол:</strong> Женский</li>
                                <li><strong>Возраст:</strong> 14</li>
                                <li><strong>Рост:</strong> 153</li>
                                <li><strong>Вес:</strong> 45</li>
                                <li><strong>Демонические способности: </strong><br> Способность изменять размер тела, Увеличенная сила, Режим берсерка, Иммунитет к солнечным лучам</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}