{% extends "_layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="quote-container">
                <div class="quote-row">
                    <div class="quote-mark left">“</div>
                    <div class="quote-text">
                        <p>У слабых нет ни прав, ни выбора. Только силой можно заставить другого уступить.
                            Может быть демоны знают, как вылечить твою сестру, но всё же!
                             Я не думаю, что их повелитель будет слушать твои желания и просьбы.</p>
                    </div>
                    <div class="quote-mark right">”</div>
                </div>
                <div class="quote-citation">
                    — Гию к Танджиро Глава 1.
                </div>
            </div>
            <div class="hero-info" id="infoTamioka">
                <h2>
                    Гию Томиока 
                    <span class="kanji">(冨とみ岡おか 義ぎ勇ゆう Tomioka Giyū)</span>
                </h2>
                охотник на демонов и <a href="/glossary" class="highlight">Столп Воды</a>, 
                который состоял в организации <a href="/glossary" class="highlight">Истребители демонов.</a>
                </p>
            </div>
            <div class="accordion" id="accordionTamioka">
                <!-- Внешность -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Внешность
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTamioka">
                        <div class="accordion-body">
                            <p>Гию - высокий молодой мужчина со спутанными чëрными длинными волосами, завязанными в низкий хвост. У него тонкие брови и острые тёмно-синие глаза.</p>
                            <p>Гию носит стандартную черную форму Охотника на Демонов вместе с хаори с двумя разными рисунками: один сплошной красный и один с геометрическим рисунком зеленого, оранжевого и желтого (которые основаны на хаори, которые носили его покойная старшая сестра и Сабито соответственно).</p>
                        </div>
                    </div>
                </div>
                <!-- Личность -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Личность
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionTamioka">
                        <div class="accordion-body">
                            <p>Гию всегда серьёзен, в нем сильно развито чувство справедливости.
                                Он оставляет Незуко, поскольку его тронули горячие мольбы Танджиро, но в остальных случаях Гию убивает демонов без колебаний.</p>
                            <p>Волнуется из-за мнения окружающих. Когда Шинобу сказала, что многие его недолюбливают, Гию был удивлён.</p>
                            <p>Он не умеет ладить с людьми, поэтому держится со всеми холодно.</p>
                            <p>Гию считает себя недостойным звания Столпа из-за инцидента в финальном отборе.
                                Сабито, его друг, убил больше всего демонов и старался защитить всех участников, из-за чего и погиб.
                                Гию же просто выживал, не показав себя хорошим бойцом и не сумев помочь Сабито.
                                Чувство вины становится настолько сильным, что он думает оставить свою должность Столпа Воды, но Танджиро вовремя спрашивает его, не давал ли Гию обещаний Сабито.
                                Столп вспоминает важный разговор с другом и понимает, что должен беречь свою жизнь во имя тех, кто умер ради него.</p>
                        </div>
                    </div>
                </div>
                <!-- История -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            История
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionTamioka">
                        <div class="accordion-body">
                            <p>Когда Гию был молод, его семью убили демоны.
                                Гию выжил благодаря защите его старшей сестры ценой её жизни.</p>
                            <p>Гию говорил другим людям, что её убил демон, но его посчитали психически больным и попытались отправить 
                                к родственнику, который занимался врачеванием далеко отсюда.
                                Гию пытался сбежать и чуть не погиб, но охотник, знавший Урокодаки, спас его.</p>
                            <p>Когда Гию было 13 лет, он встретил Сабито, и они стали близкими друзьями, потому что были ровесниками и имели похожее прошлое.
                                Они оба смогли пройти до финального отбора на горе глициний, во время которого Гию был ранен демоном.
                                Сабито спас его, а затем ушел помогать другим ученикам.
                                Гию потерял сознание, а когда пришёл в себя, то узнал, что прошел отбор, а его друг погиб.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="photo-body">
                <a class="photo_tamioka">
                    <img class="phot" src="static\images\tam1.jpg" alt="tamioka">
                </a>
                <button type="button" class="btn btn-skyblue" data-bs-toggle="modal" data-bs-target="#characteristicsModal">
                    Показать характеристики
                </button>
            </div>
            <div class="modal fade" id="characteristicsModal" tabindex="-1" aria-labelledby="characteristicsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="characteristicsModalLabel">Характеристики</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li><strong>Пол:</strong> Мужской</li>
                                <li><strong>Возраст:</strong> 21</li>
                                <li><strong>Рост:</strong> 176</li>
                                <li><strong>Вес:</strong> 69</li>
                                <li><strong>Боевой стиль: </strong>Дыхание воды</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}