{% extends "_layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="quote-container">
                <div class="quote-row">
                    <div class="quote-mark left">“</div>
                    <div class="quote-text">
                        <p>Клянусь, твой старший братец защитит тебя, во что бы то ни стало!</p>
                    </div>
                    <div class="quote-mark right">”</div>
                </div>
                <div class="quote-citation">
                    — Танджиро Камадо к <a class="highlight" href="/nezuko" title="Незуко Камадо">Незуко Камадо</a>, Эпизод 1.
                </div>
            </div>
            <div class="hero-info" id="infoTanjiro">
                <h2>
                    Танджиро Камадо 
                    <span class="kanji">(竈門炭治郎 Kamado Tanjirō)</span>
                </h2>
                <p>
                    – главный герой манги и 
                    аниме «Клинок, рассекающий демонов». 
                    Он стал <a href="/glossary" class="highlight">истребителем демонов</a>, чтобы найти ответственного 
                    за убийство его семьи и превращение его <a href="/nezuko" class="highlight">сестры</a> в 
                    <a href="/glossary" class="highlight">демона</a>.
                </p>
            </div>
            <div class="accordion" id="accordionTanjirou">
                <!-- Внешность -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Внешность
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTanjirou">
                        <div class="accordion-body">
                            <p>Танджиро — парень с загорелой кожей и спортивным телосложением. У него взъерошенные чёрные волосы с бордовыми кончиками, зачёсанные назад, и большие тёмно-красные глаза. На левой стороне его лба расположен шрам от ожога, который потемнел и изменил форму после битвы с демоном рук во время финального отбора.</p>
                            <p>Танджиро одет в тёмно-красную форму истребителей демонов, поверх которой надето хаори в чёрно-зелёную клетку. Он также носит серьги ханафуда с рисунком в виде красного солнца.</p>
                            <p>После убийства Мудзана тот превратил Танджиро в демона, из-за чего правая рука парня регенерировала, а внешность потерпела некоторые изменения: метка истребителей разрослась по всему лицу и больше походила на языки пламени, глаза стали ярче, сузился зрачок.</p>
                        </div>
                    </div>
                </div>
                <!-- Личность -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Личность
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionTanjirou">
                        <div class="accordion-body">
                            <p>Танджиро по своей природе очень добр. «Человек с добрыми глазами» - так его описывают. Очень решительный и целеустремлённый. Хотя Танджиро и сам относительно силён, он не боится просить других о помощи, когда в этом есть необходимость. Он всегда готов встать на защиту окружающих, но защита сестры для него является высшим приоритетом.</p>
                            <p>Важной чертой характера Танджиро является его сострадательность, нередко проявляющаяся даже по отношению к демонам. Однако за время службы в рядах истребителей Танджиро набирается опыта, становится более расчётливым и решительным. Благодаря храбрости и желанию защитить слабых он встречает соперников с уважением и достоинством, будь то люди или демоны.</p>
                        </div>
                    </div>
                </div>
                <!-- История -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            История
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionTanjirou">
                        <div class="accordion-body">
                            <p>Танджиро вырос в горах вместе со своими родителями, братьями и сёстрами, будучи старшим ребёнком в семье Камадо. Его отец Танджуро умер от болезни, когда Танджиро был ещё совсем маленьким, потому Танджиро взял на себя роль кормильца. Он очень любил свою семью и заботился о ней, как только мог. Однажды один из братьев Танджиро случайно толкнул горячий чайник, и, пытаясь защитить ребёнка, Танджиро получил свой шрам на лбу.</p>
                            <p>Танджиро продавал уголь в ближайшем городе, чтобы заработать деньги для семьи, и, похоже, он появлялся там довольно часто, так как горожане легко его узнавали и просили о помощи.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="photo-body">
                <a class="photo_tanjiro">
                    <img class="phot" src="static\images\tanj1.jpg" alt="tanjiro">
                </a>
                <button type="button" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#characteristicsModal">
                    Показать характеристики
                </button>
            </div>
            <div class="modal fade" id="characteristicsModal" tabindex="-1" aria-labelledby="characteristicsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="characteristicsModalLabel">Характеристики</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li><strong>Пол:</strong> Мужской</li>
                                <li><strong>Возраст:</strong> 16</li>
                                <li><strong>Рост:</strong> 165</li>
                                <li><strong>Вес:</strong> 61</li>
                                <li><strong>Боевой стиль: </strong> Дыхание воды, Танец бога огня</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}